

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}
.popup .popup-content {
  position: relative;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  min-height: 500px;
  padding: 50px 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  position: relative;
  background-color: white;
  padding: 50px 30px 80px;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
}

input[type="file"] {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

textarea {
  resize: none;
  height: 120px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

button[type="submit"] {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  background-color: #512da8;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.back-btn {
  background: none;
  border: none;
  color: #512da8;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.close-btn:hover {
  color: #000;
}